/*global header style*/
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
    flex-wrap: wrap;

    color: var(--primary-red);
    border-bottom: 1px solid black;
    padding: 1rem;
}

header nav ul {
    list-style-type: none;

    display: flex;
    align-items: center;
    gap: 1rem;
}

header nav ul li a {
    font-size: 1.125rem;

    &:hover {
        text-decoration: none;
    }
}

header nav ul li .form-submit-button {
    background: none;
    font-size: 1.125rem;
    color: inherit;
    font-weight: normal;
    text-decoration: underline;
}

header button {
    display: none;
}

@media (max-width: 1000px) {

    header h1 {
        font-size: 1.5rem;
    }

    header button {
        display: block;
        width: 25px;
        background: none;
        outline: none;
        border: 0;
        cursor: pointer;
    }

    header nav {
        display: none;
    }

    nav.nav-visible {
        display: block;
        flex-basis: 100%;
        order: 3;
    }

    nav.nav-visible ul {
        flex-direction: column;
        width: 100%;
    }

    nav.nav-visible ul li, nav.nav-visible ul li a {
        width: 100%;
        text-align: center;
    }
}


/*main content*/
main {
    padding: 1rem;

    display: flex;
    flex-direction: column;
    gap: 2rem;
}

main .form-wrapper {
    background: transparent;
}

main .page-section {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

main .page-section .section-title {
    color: var(--primary-red);
}

.table-wrapper {
    overflow-x: scroll;
    width: max-content;
    max-width: 100%;
}

table {
    border-spacing: .5rem 1rem;
    border-collapse: collapse;
    width: 100%;

    th, td {
        padding: .5rem;
        border: 1px solid var(--primary-red);
        text-align: center;
    }

    tr:nth-child(even) {
        background-color: #e5e7eb;
    }

    tr.green-row-bg, tr:nth-child(even).green-row-bg {
        background-color: #bbf7d0
    }

}

.product-list-form {
    margin-top: 1rem;
    display: flex;
    gap: 1rem;
    flex-direction: column;

}

.filter-wrapper {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 1rem;

}

.filter-wrapper h3 {
    color: var(--primary-red);
}

.index-order-cards {
    display: flex;
    gap: 1rem;
    flex-wrap: wrap;
}

.index-order-cards .index-order-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: .25rem;
    padding: .75rem;
    border: 1px solid var(--bright-red);
    border-radius: .25rem;
}

.box-wrapper{
    display: flex;
    gap: 1.25rem;
    flex-wrap: wrap;
    margin-top: 1rem;
}

.box-wrapper .box{
    padding: 1rem;
    border: 1px solid var(--primary-red);
    border-radius: .25rem;

    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: center;
}
