
/*global header style*/
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
    flex-wrap: wrap;

    color: var(--primary-red);
    border-bottom: 1px solid black;
    padding: 1rem;
}

header nav ul{
    list-style-type: none;

    display: flex;
    align-items: center;
    gap: 1rem;
}

header nav ul li a{
    font-size: 1.125rem;

    &:hover{
        text-decoration: none;
    }
}

header nav ul li .form-submit-button{
    background: none;
    font-size: 1.125rem;
    color: inherit;
    font-weight: normal;
    text-decoration: underline;
}

/*main content*/
main{
    padding: 2rem;

    display: flex;
    flex-direction: column;
    gap: 2rem;
}

main .page-section .section-title{
    color: var(--primary-red);
}
