* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html, body {
    scroll-behavior: smooth;
    font-family: 'Roboto', 'Arial', 'Helvetica', sans-serif;
}

a {
    display: block;
    color: inherit;
    font-family: inherit;
}

button {
    color: inherit;
    font-family: inherit;
}

img{
    display: block;
    max-width: 100%;
}

/*global css*/
:root{
    --primary-red: #4c0519;
}
